In [1]:
# Importamos pandas, numpy, seaborn, random y plotly:

import pandas as pd
import numpy as np
import seaborn as sns
import random
import plotly.express as px
import matplotlib.pyplot as plt

In [4]:
df_scores_raw = pd.read_csv (r'C:\Users\emili\OneDrive\Documentos\nuclio_g3_bias\users\Emilio\compas-scores-raw.csv')

In [3]:
def check_df(df_scores_raw, tipo):
  # tipo == 'simple' - Solo muestra volumenes y cabecera
  if tipo == 'simple':
    print("¿Cuántas filas y columnas hay en el conjunto de datos?")
    num_filas, num_columnas = df_scores_raw.shape
    print("\tHay {:,} filas y {:,} columnas.".format(num_filas, num_columnas))
    print('\n########################################################################################')

    print("¿Cuáles son las primeras dos filas del conjunto de datos?")
    display(df_scores_raw.head(2))
    print('\n########################################################################################')

  else:
    print("¿Cuántas filas y columnas hay en el conjunto de datos?")
    num_filas, num_columnas = df_scores_raw.shape
    print("\tHay {:,} filas y {:,} columnas.".format(num_filas, num_columnas))
    print('\n########################################################################################')

    print("¿Cuáles son las primeras dos filas del conjunto de datos?")
    display(df_scores_raw.head(2))
    print('\n########################################################################################')

    print("¿Cuáles son las últimas dos filas del conjunto de datos?")
    display(df_scores_raw.tail(2))
    print('\n########################################################################################')

    print("¿Cómo puedes obtener una muestra aleatoria de filas del conjunto de datos?")
    display(df_scores_raw.sample(2))
    print('\n########################################################################################')

    print("¿Cuáles son las columnas del conjunto de datos?")
    for i in list(df_scores_raw.columns):
      print('\t - ' + i)
    print('\n########################################################################################')

    print("¿Cuál es el tipo de datos de cada columna?")
    print(df_scores_raw.dtypes)
    print('\n########################################################################################')

    print("¿Cuántas columnas hay de cada tipo de datos?")
    print(df_scores_raw.dtypes.value_counts())
    print('\n########################################################################################')

    print("¿Cómo podríamos obtener información más completa sobre la estructura y el contenido del DataFrame?")
    print(df_scores_raw.info())
    print('\n########################################################################################')

    print("¿Cuántos valores únicos tiene cada columna?")
    print(df_scores_raw.nunique())
    print('\n########################################################################################')

    print("¿Cuáles son las estadísticas descriptivas básicas de las columnas numéricas?")
    display(df_scores_raw.describe(include = 'all').fillna(''))
    print('\n########################################################################################')

    print("¿Hay valores nulos en el conjunto de datos?")
    print(df_scores_raw.isnull().sum().sort_values(ascending = False))
    print('\n########################################################################################')

    print("¿Cuál es el porcentaje de valores nulos en cada columna?")
    print(round((df_scores_raw.isnull().sum()/len(df_scores_raw)*100), 2).sort_values(ascending = False))
    print('\n########################################################################################')

In [5]:
check_df(df_scores_raw, '')

¿Cuántas filas y columnas hay en el conjunto de datos?
	Hay 60,843 filas y 28 columnas.

########################################################################################
¿Cuáles son las primeras dos filas del conjunto de datos?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0

########################################################################################
¿Cuáles son las últimas dos filas del conjunto de datos?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
60841,68603,79669,72042,PRETRIAL,Ryan,Michael,NaN,Male,Caucasian,02/06/85,...,1,Low,8,Risk of Recidivism,-0.34,5,Medium,New,1,0
60842,68603,79669,72042,PRETRIAL,Ryan,Michael,NaN,Male,Caucasian,02/06/85,...,1,Low,18,Risk of Failure to Appear,16.00,2,Low,New,1,0

########################################################################################
¿Cómo puedes obtener una muestra aleatoria de filas del conjunto de datos?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
47358,63906,74643,67617,Probation,Rogers,Tameka,NaN,Female,African-American,07/12/81,...,1,Low,7,Risk of Violence,-2.85,2,Low,Copy,1,0
25845,57499,66695,60485,PRETRIAL,Alonso,Jenny,NaN,Female,Hispanic,12/09/94,...,2,Medium,7,Risk of Violence,-1.64,6,Medium,New,1,0

########################################################################################
¿Cuáles son las columnas del conjunto de datos?
	 - Person_ID
	 - AssessmentID
	 - Case_ID
	 - Agency_Text
	 - LastName
	 - FirstName
	 - MiddleName
	 - Sex_Code_Text
	 - Ethnic_Code_Text
	 - DateOfBirth
	 - ScaleSet_ID
	 - ScaleSet
	 - AssessmentReason
	 - Language
	 - LegalStatus
	 - CustodyStatus
	 - MaritalStatus
	 - Screening_Date
	 - RecSupervisionLevel
	 - RecSupervisionLevelText
	 - Scale_ID
	 - DisplayText
	 - RawScore
	 - DecileScore
	 - ScoreText
	 - AssessmentType
	 - IsCompleted
	 - IsDeleted

########################################################################################
¿Cuál es el tipo de datos de cada columna?
Person_ID                    int64
AssessmentID                 int64
Case_ID                      int64
Agency_Text                 object
LastName                    object
FirstName                   object
MiddleName                  object
Sex_Code_Text               object
Ethnic_Code_Text            object
DateOfBirth                 object
ScaleSet_ID                  int64
ScaleSet                    object
AssessmentReason            object
Language                    object
LegalStatus                 object
CustodyStatus               object
MaritalStatus               object
Screening_Date              object
RecSupervisionLevel          int64
RecSupervisionLevelText     object
Scale_ID                     int64
DisplayText                 object
RawScore                   float64
DecileScore                  int64
ScoreText                   object
AssessmentType              object
IsCompleted                  int64
IsDeleted                    int64
dtype: object

########################################################################################
¿Cuántas columnas hay de cada tipo de datos?
object     18
int64       9
float64     1
Name: count, dtype: int64

########################################################################################
¿Cómo podríamos obtener información más completa sobre la estructura y el contenido del DataFrame?
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60843 entries, 0 to 60842
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person_ID                60843 non-null  int64
 1   AssessmentID             60843 non-null  int64
 2   Case_ID                  60843 non-null  int64
 3   Agency_Text              60843 non-null  object
 4   LastName                 60843 non-null  object
 5   FirstName                60843 non-null  object
 6   MiddleName               15624 non-null  object
 7   Sex_Code_Text            60843 non-null  object
 8   Ethnic_Code_Text         60843 non-null  object
 9   DateOfBirth              60843 non-null  object
 10  ScaleSet_ID              60843 non-null  int64
 11  ScaleSet                 60843 non-null  object
 12  AssessmentReason         60843 non-null  object
 13  Language                 60843 non-null  object
 14  LegalStatus              60843 non-null  object
 15  CustodyStatus            60843 non-null  object
 16  MaritalStatus            60843 non-null  object
 17  Screening_Date           60843 non-null  object
 18  RecSupervisionLevel      60843 non-null  int64
 19  RecSupervisionLevelText  60843 non-null  object
 20  Scale_ID                 60843 non-null  int64
 21  DisplayText              60843 non-null  object
 22  RawScore                 60843 non-null  float64
 23  DecileScore              60843 non-null  int64
 24  ScoreText                60798 non-null  object
 25  AssessmentType           60843 non-null  object
 26  IsCompleted              60843 non-null  int64
 27  IsDeleted                60843 non-null  int64
dtypes: float64(1), int64(9), object(18)
memory usage: 13.0+ MB
None

########################################################################################
¿Cuántos valores únicos tiene cada columna?
Person_ID                  18610
AssessmentID               20281
Case_ID                    19530
Agency_Text                    4
LastName                   10896
FirstName                   7225
MiddleName                  1870
Sex_Code_Text                  2
Ethnic_Code_Text               9
DateOfBirth                10382
ScaleSet_ID                    2
ScaleSet                       2
AssessmentReason               1
Language                       2
LegalStatus                    7
CustodyStatus                  6
MaritalStatus                  7
Screening_Date               705
RecSupervisionLevel            4
RecSupervisionLevelText        4
Scale_ID                       3
DisplayText                    3
RawScore                     659
DecileScore                   11
ScoreText                      3
AssessmentType                 2
IsCompleted                    1
IsDeleted                      1
dtype: int64

########################################################################################
¿Cuáles son las estadísticas descriptivas básicas de las columnas numéricas?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
count,60843.0,60843.0,60843.0,60843,60843,60843,15624,60843,60843,60843,...,60843.0,60843,60843.0,60843,60843.0,60843.0,60798,60843,60843.0,60843.0
unique,,,,4,10896,7225,1870,2,9,10382,...,,4,,3,,,3,2,,
top,,,,PRETRIAL,Williams,Michael,A,Male,African-American,04/28/92,...,,Low,,Risk of Violence,,,Low,New,,
freq,,,,41100,417,777,606,47514,27018,30,...,,38472,,20281,,,41487,56139,,
mean,53683.206154,68061.02919,60209.128149,,,,,,,,...,1.630048,,11.0,,5.081457,3.571701,,,1.0,0.0
std,14363.648515,7320.208226,9638.501654,,,,,,,,...,0.94422,,4.966596,,10.080518,2.617854,,,0.0,0.0
min,656.0,649.0,350.0,,,,,,,,...,1.0,,7.0,,-4.79,-1.0,,,1.0,0.0
25%,52039.0,62582.0,56021.0,,,,,,,,...,1.0,,7.0,,-2.09,1.0,,,1.0,0.0
50%,57321.0,68229.0,61261.0,,,,,,,,...,1.0,,8.0,,-0.71,3.0,,,1.0,0.0
75%,62748.0,73870.0,66554.0,,,,,,,,...,2.0,,18.0,,14.0,5.0,,,1.0,0.0
max,68608.0,79678.0,72045.0,,,,,,,,...,4.0,,18.0,,51.0,10.0,,,1.0,0.0

########################################################################################
¿Hay valores nulos en el conjunto de datos?
MiddleName                 45219
ScoreText                     45
Person_ID                      0
CustodyStatus                  0
IsCompleted                    0
AssessmentType                 0
DecileScore                    0
RawScore                       0
DisplayText                    0
Scale_ID                       0
RecSupervisionLevelText        0
RecSupervisionLevel            0
Screening_Date                 0
MaritalStatus                  0
LegalStatus                    0
AssessmentID                   0
Language                       0
AssessmentReason               0
ScaleSet                       0
ScaleSet_ID                    0
DateOfBirth                    0
Ethnic_Code_Text               0
Sex_Code_Text                  0
FirstName                      0
LastName                       0
Agency_Text                    0
Case_ID                        0
IsDeleted                      0
dtype: int64

########################################################################################
¿Cuál es el porcentaje de valores nulos en cada columna?
MiddleName                 74.32
ScoreText                   0.07
Person_ID                   0.00
CustodyStatus               0.00
IsCompleted                 0.00
AssessmentType              0.00
DecileScore                 0.00
RawScore                    0.00
DisplayText                 0.00
Scale_ID                    0.00
RecSupervisionLevelText     0.00
RecSupervisionLevel         0.00
Screening_Date              0.00
MaritalStatus               0.00
LegalStatus                 0.00
AssessmentID                0.00
Language                    0.00
AssessmentReason            0.00
ScaleSet                    0.00
ScaleSet_ID                 0.00
DateOfBirth                 0.00
Ethnic_Code_Text            0.00
Sex_Code_Text               0.00
FirstName                   0.00
LastName                    0.00
Agency_Text                 0.00
Case_ID                     0.00
IsDeleted                   0.00
dtype: float64

########################################################################################