## 1. Importación de librerías necesarias

In [165]:
import pandas as pd
import numpy as np

# Visualización de datos
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

# Expresiones regulares
import re
from fuzzywuzzy import process

import warnings
warnings.filterwarnings('ignore')

## 2. Lectura de datos

In [166]:
from read_data import read_scores_raw

In [167]:
path = r'C:\Users\emili\OneDrive\Documentos\nuclio_g3_bias\users\Emilio\compas-scores-raw.csv'
df_scores_raw = read_scores_raw (path)

scores raw shape: (60843, 28)

## 3. Overview del dataframe df_scores_raw

In [168]:
from data_overview import check_df
check_df(df_scores_raw, '')

1. ¿CUANTAS FILAS Y COLUMNAS hay en el conjunto de datos?
	Hay 60,843 filas y 28 columnas.


2. ¿Cuáles son las PRIMERAS DOS FILAS del conjunto de datos?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0

3. ¿Cuáles son las ULTIMAS DOS FILAS del conjunto de datos?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
60841,68603,79669,72042,PRETRIAL,Ryan,Michael,NaN,Male,Caucasian,02/06/85,...,1,Low,8,Risk of Recidivism,-0.34,5,Medium,New,1,0
60842,68603,79669,72042,PRETRIAL,Ryan,Michael,NaN,Male,Caucasian,02/06/85,...,1,Low,18,Risk of Failure to Appear,16.00,2,Low,New,1,0

4. MUESTRA ALEATORIA de filas del conjunto de datos

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
52855,66234,76686,69422,Probation,Logan,Katherine,NaN,Female,Caucasian,02/19/82,...,1,Low,8,Risk of Recidivism,-1.62,2,Low,New,1,0
18766,56249,64127,58194,Probation,CLARK,ERIC,C,Male,Caucasian,02/18/78,...,2,Medium,8,Risk of Recidivism,-0.62,4,Low,New,1,0
31606,12806,68816,62390,PRETRIAL,Bocanegra,George,NaN,Male,Hispanic,04/29/87,...,4,High,8,Risk of Recidivism,0.22,8,High,New,1,0
33308,60504,69428,62944,Probation,ALI,AFTAB,NaN,Male,Other,11/26/74,...,1,Low,18,Risk of Failure to Appear,22.00,5,Medium,New,1,0
27057,58655,67134,60871,PRETRIAL,Evans,Mourica,NaN,Female,Other,11/11/83,...,1,Low,7,Risk of Violence,-2.89,2,Low,New,1,0

5. ¿Cuáles son las COLUMNAS del conjunto de datos?
	 - Person_ID
	 - AssessmentID
	 - Case_ID
	 - Agency_Text
	 - LastName
	 - FirstName
	 - MiddleName
	 - Sex_Code_Text
	 - Ethnic_Code_Text
	 - DateOfBirth
	 - ScaleSet_ID
	 - ScaleSet
	 - AssessmentReason
	 - Language
	 - LegalStatus
	 - CustodyStatus
	 - MaritalStatus
	 - Screening_Date
	 - RecSupervisionLevel
	 - RecSupervisionLevelText
	 - Scale_ID
	 - DisplayText
	 - RawScore
	 - DecileScore
	 - ScoreText
	 - AssessmentType
	 - IsCompleted
	 - IsDeleted


6. ¿Cuál es el TIPO DE DATOS de cada columna?
Person_ID                    int64
AssessmentID                 int64
Case_ID                      int64
Agency_Text                 object
LastName                    object
FirstName                   object
MiddleName                  object
Sex_Code_Text               object
Ethnic_Code_Text            object
DateOfBirth                 object
ScaleSet_ID                  int64
ScaleSet                    object
AssessmentReason            object
Language                    object
LegalStatus                 object
CustodyStatus               object
MaritalStatus               object
Screening_Date              object
RecSupervisionLevel          int64
RecSupervisionLevelText     object
Scale_ID                     int64
DisplayText                 object
RawScore                   float64
DecileScore                  int64
ScoreText                   object
AssessmentType              object
IsCompleted                  int64
IsDeleted                    int64
dtype: object


7. ¿Cuántas COLUMNAS hay de cada TIPO DE DATOS?
object     18
int64       9
float64     1
Name: count, dtype: int64


8. INFO más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60843 entries, 0 to 60842
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person_ID                60843 non-null  int64
 1   AssessmentID             60843 non-null  int64
 2   Case_ID                  60843 non-null  int64
 3   Agency_Text              60843 non-null  object
 4   LastName                 60843 non-null  object
 5   FirstName                60843 non-null  object
 6   MiddleName               15624 non-null  object
 7   Sex_Code_Text            60843 non-null  object
 8   Ethnic_Code_Text         60843 non-null  object
 9   DateOfBirth              60843 non-null  object
 10  ScaleSet_ID              60843 non-null  int64
 11  ScaleSet                 60843 non-null  object
 12  AssessmentReason         60843 non-null  object
 13  Language                 60843 non-null  object
 14  LegalStatus              60843 non-null  object
 15  CustodyStatus            60843 non-null  object
 16  MaritalStatus            60843 non-null  object
 17  Screening_Date           60843 non-null  object
 18  RecSupervisionLevel      60843 non-null  int64
 19  RecSupervisionLevelText  60843 non-null  object
 20  Scale_ID                 60843 non-null  int64
 21  DisplayText              60843 non-null  object
 22  RawScore                 60843 non-null  float64
 23  DecileScore              60843 non-null  int64
 24  ScoreText                60798 non-null  object
 25  AssessmentType           60843 non-null  object
 26  IsCompleted              60843 non-null  int64
 27  IsDeleted                60843 non-null  int64
dtypes: float64(1), int64(9), object(18)
memory usage: 13.0+ MB
None


9. ¿VALORES UNICOS POR COLUMNA?
Person_ID                  18610
AssessmentID               20281
Case_ID                    19530
Agency_Text                    4
LastName                   10896
FirstName                   7225
MiddleName                  1870
Sex_Code_Text                  2
Ethnic_Code_Text               9
DateOfBirth                10382
ScaleSet_ID                    2
ScaleSet                       2
AssessmentReason               1
Language                       2
LegalStatus                    7
CustodyStatus                  6
MaritalStatus                  7
Screening_Date               705
RecSupervisionLevel            4
RecSupervisionLevelText        4
Scale_ID                       3
DisplayText                    3
RawScore                     659
DecileScore                   11
ScoreText                      3
AssessmentType                 2
IsCompleted                    1
IsDeleted                      1
dtype: int64


10. ¿ESTADISTICAS DESCRIPTIVAS BASICAS DE LAS COLUMNAS NUMÉRICAS?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
count,60843.0,60843.0,60843.0,60843,60843,60843,15624,60843,60843,60843,...,60843.0,60843,60843.0,60843,60843.0,60843.0,60798,60843,60843.0,60843.0
unique,,,,4,10896,7225,1870,2,9,10382,...,,4,,3,,,3,2,,
top,,,,PRETRIAL,Williams,Michael,A,Male,African-American,04/28/92,...,,Low,,Risk of Violence,,,Low,New,,
freq,,,,41100,417,777,606,47514,27018,30,...,,38472,,20281,,,41487,56139,,
mean,53683.206154,68061.02919,60209.128149,,,,,,,,...,1.630048,,11.0,,5.081457,3.571701,,,1.0,0.0
std,14363.648515,7320.208226,9638.501654,,,,,,,,...,0.94422,,4.966596,,10.080518,2.617854,,,0.0,0.0
min,656.0,649.0,350.0,,,,,,,,...,1.0,,7.0,,-4.79,-1.0,,,1.0,0.0
25%,52039.0,62582.0,56021.0,,,,,,,,...,1.0,,7.0,,-2.09,1.0,,,1.0,0.0
50%,57321.0,68229.0,61261.0,,,,,,,,...,1.0,,8.0,,-0.71,3.0,,,1.0,0.0
75%,62748.0,73870.0,66554.0,,,,,,,,...,2.0,,18.0,,14.0,5.0,,,1.0,0.0
max,68608.0,79678.0,72045.0,,,,,,,,...,4.0,,18.0,,51.0,10.0,,,1.0,0.0

11. ¿VALORES NULOS EN EL DATASET?
MiddleName                 45219
ScoreText                     45
Person_ID                      0
CustodyStatus                  0
IsCompleted                    0
AssessmentType                 0
DecileScore                    0
RawScore                       0
DisplayText                    0
Scale_ID                       0
RecSupervisionLevelText        0
RecSupervisionLevel            0
Screening_Date                 0
MaritalStatus                  0
LegalStatus                    0
AssessmentID                   0
Language                       0
AssessmentReason               0
ScaleSet                       0
ScaleSet_ID                    0
DateOfBirth                    0
Ethnic_Code_Text               0
Sex_Code_Text                  0
FirstName                      0
LastName                       0
Agency_Text                    0
Case_ID                        0
IsDeleted                      0
dtype: int64


12. PORCENTAJE DE VALORES NULOS EN CADA COLUMNA?
MiddleName                 74.32
ScoreText                   0.07
Person_ID                   0.00
CustodyStatus               0.00
IsCompleted                 0.00
AssessmentType              0.00
DecileScore                 0.00
RawScore                    0.00
DisplayText                 0.00
Scale_ID                    0.00
RecSupervisionLevelText     0.00
RecSupervisionLevel         0.00
Screening_Date              0.00
MaritalStatus               0.00
LegalStatus                 0.00
AssessmentID                0.00
Language                    0.00
AssessmentReason            0.00
ScaleSet                    0.00
ScaleSet_ID                 0.00
DateOfBirth                 0.00
Ethnic_Code_Text            0.00
Sex_Code_Text               0.00
FirstName                   0.00
LastName                    0.00
Agency_Text                 0.00
Case_ID                     0.00
IsDeleted                   0.00
dtype: float64

## 4. Tratamiento de Nulos

In [169]:
#Eliminamos la columna Middlename
df_scores_raw = df_scores_raw.drop(columns=['MiddleName'])

In [170]:
df_scores_raw.columns

Index(['Person_ID', 'AssessmentID', 'Case_ID', 'Agency_Text', 'LastName',
       'FirstName', 'Sex_Code_Text', 'Ethnic_Code_Text', 'DateOfBirth',
       'ScaleSet_ID', 'ScaleSet', 'AssessmentReason', 'Language',
       'LegalStatus', 'CustodyStatus', 'MaritalStatus', 'Screening_Date',
       'RecSupervisionLevel', 'RecSupervisionLevelText', 'Scale_ID',
       'DisplayText', 'RawScore', 'DecileScore', 'ScoreText', 'AssessmentType',
       'IsCompleted', 'IsDeleted'],
      dtype='object')

In [171]:
#Seleccionamos los nulos en ScoreText
df_st_nulos = df_scores_raw[df_scores_raw['ScoreText'].isnull()]
df_st_nulos.head (10)

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet_ID,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
1837,51351,57821,52534,PRETRIAL,Taffe,Horace,Male,African-American,11/28/71,22,...,2,Medium,8,Risk of Recidivism,-1.0,-1,NaN,New,1,0
4033,51986,58599,53245,PRETRIAL,Farr,Clee,Male,Caucasian,12/22/95,22,...,1,Low,8,Risk of Recidivism,-1.0,-1,NaN,New,1,0
6603,52760,59586,54136,Probation,Diaz,Jahaira,Female,Hispanic,01/16/81,22,...,1,Low,7,Risk of Violence,-1.0,-1,NaN,New,1,0
6604,52760,59586,54136,Probation,Diaz,Jahaira,Female,Hispanic,01/16/81,22,...,1,Low,8,Risk of Recidivism,-1.0,-1,NaN,New,1,0
7173,52910,59783,54307,PRETRIAL,MILLER,MIKHAIL,Male,African-American,10/12/93,22,...,1,Low,7,Risk of Violence,-1.0,-1,NaN,New,1,0
7174,52910,59783,54307,PRETRIAL,MILLER,MIKHAIL,Male,African-American,10/12/93,22,...,1,Low,8,Risk of Recidivism,-1.0,-1,NaN,New,1,0
9519,53624,60648,55078,PRETRIAL,SAINTJEAN,GEORGE,Male,African-American,09/17/55,22,...,1,Low,7,Risk of Violence,-1.0,-1,NaN,New,1,0
9520,53624,60648,55078,PRETRIAL,SAINTJEAN,GEORGE,Male,African-American,09/17/55,22,...,1,Low,8,Risk of Recidivism,-1.0,-1,NaN,New,1,0
10318,53822,60933,55318,PRETRIAL,Rohrs,Michael,Male,Caucasian,02/06/68,22,...,1,Low,8,Risk of Recidivism,-1.0,-1,NaN,New,1,0
11686,53689,61466,55160,PRETRIAL,Winkelmann,William,Male,Caucasian,12/15/63,22,...,1,Low,8,Risk of Recidivism,-1.0,-1,NaN,Copy,1,0

In [172]:
#Vemos que los 36 tienen puntuación -1 en DecileScore, que no es válida. Entendemos que ese es el motivo. Por el volumnen decido eliminarlos.
df_scores_raw = df_scores_raw[df_scores_raw['ScoreText'].notnull()]
df_scores_raw

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet_ID,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,Male,Caucasian,12/05/92,22,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,Male,Caucasian,12/05/92,22,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,Male,Caucasian,12/05/92,22,...,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,Male,Caucasian,09/16/84,22,...,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,Male,Caucasian,09/16/84,22,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60838,65667,79665,72038,Probation,West,James,Male,African-American,06/21/64,22,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.16,8,High,New,1,0
60839,65667,79665,72038,Probation,West,James,Male,African-American,06/21/64,22,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,35.00,10,High,New,1,0
60840,68603,79669,72042,PRETRIAL,Ryan,Michael,Male,Caucasian,02/06/85,22,...,1,Low,7,Risk of Violence,-2.75,2,Low,New,1,0
60841,68603,79669,72042,PRETRIAL,Ryan,Michael,Male,Caucasian,02/06/85,22,...,1,Low,8,Risk of Recidivism,-0.34,5,Medium,New,1,0
60842,68603,79669,72042,PRETRIAL,Ryan,Michael,Male,Caucasian,02/06/85,22,...,1,Low,18,Risk of Failure to Appear,16.00,2,Low,New,1,0

## 5. Tratamiento de Duplicados

In [191]:
# No existen registros duplicados
num_duplicados = df_scores_raw.duplicated().sum()
num_duplicados

0

## 6. Tratamiento de Tipos

In [174]:
# Convertir columnas de fecha a formato datetime
df_scores_raw['DateOfBirth'] = pd.to_datetime(df_scores_raw['DateOfBirth'], errors='coerce')
df_scores_raw['Screening_Date'] = pd.to_datetime(df_scores_raw['Screening_Date'], errors='coerce')

In [175]:
desc_dob = df_scores_raw['DateOfBirth'].describe()
print (desc_dob)

count                            60798
mean     2008-10-02 05:33:21.973749248
min                1974-01-01 00:00:00
25%                1984-03-25 00:00:00
50%                1990-07-16 00:00:00
75%                2055-05-15 00:00:00
max                2073-12-31 00:00:00
Name: DateOfBirth, dtype: object

In [176]:
desc_sd = df_scores_raw['Screening_Date'].describe()
print (desc_sd)

count                            60798
mean     2013-12-14 16:26:59.342741248
min                2013-01-01 00:00:00
25%                2013-05-29 00:00:00
50%                2013-12-13 00:00:00
75%                2014-06-11 00:00:00
max                2014-12-31 00:00:00
Name: Screening_Date, dtype: object

### 6.1 ¿Qué hacemos con las fechas de nacimiento?!!

#### 6.1.1 Solución de Sandra:

In [177]:
# Verificar los valores fuera de lo normal en las fechas de nacimiento y de evaluación
#date_anomalies = df_scores_raw[(df_scores_raw['DateOfBirth'] > df_scores_raw['Screening_Date']) | df_scores_raw['DateOfBirth'].isna() | df_scores_raw['Screening_Date'].isna()]
#print(date_anomalies[['DateOfBirth', 'Screening_Date']].describe())

In [178]:

# Corregir el cálculo de la edad excluyendo fechas inválidas
#df_valid_dates = df_scores_raw[df_scores_raw['DateOfBirth'] <= df_scores_raw['Screening_Date']]
#df_valid_dates['Age'] = (df_valid_dates['Screening_Date'] - df_valid_dates['DateOfBirth']).dt.days // 365

In [179]:

# Verificar la distribución de la edad después de la corrección
#print(df_valid_dates['Age'].describe())

## 7. Normalización de Categorías

In [180]:
df_scores_raw['Ethnic_Code_Text'].unique()

array(['Caucasian', 'African-American', 'Hispanic', 'Other', 'Asian',
       'African-Am', 'Native American', 'Oriental', 'Arabic'],
      dtype=object)

In [181]:
# Normalización de categorías en Ethnic_Code_Text
df_scores_raw['Ethnic_Code_Text'] = df_scores_raw['Ethnic_Code_Text'].replace({
    'African-Am': 'African-American',
    'Oriental': 'Asian'
})

In [182]:
df_scores_raw['Ethnic_Code_Text'].unique()

array(['Caucasian', 'African-American', 'Hispanic', 'Other', 'Asian',
       'Native American', 'Arabic'], dtype=object)

In [183]:
etnias =df_scores_raw['Ethnic_Code_Text'].value_counts()
print (etnias)

Ethnic_Code_Text
African-American    27053
Caucasian           21765
Hispanic             8733
Other                2590
Asian                 363
Native American       219
Arabic                 75
Name: count, dtype: int64

### 7.1 ¿Qué hacemos con Arabic y Other?!! No existen en el dataset 2years

## 8. Eliminación de columnas

In [184]:
#Sandra propone eliminar estas columnas

# Eliminar columnas que no son relevantes para el análisis del sesgo
'''
columns_to_drop = ['Person_ID', 'AssessmentID', 'Case_ID', 'LastName', 'FirstName', 'MiddleName', 'ScaleSet_ID', 
                   'ScaleSet', 'AssessmentReason', 'Language', 'LegalStatus', 'CustodyStatus', 'MaritalStatus', 
                   'Screening_Date', 'DisplayText', 'AssessmentType', 'IsCompleted', 'IsDeleted']
df_cleaned = df_valid_dates.drop(columns=columns_to_drop)
'''

"\ncolumns_to_drop = ['Person_ID', 'AssessmentID', 'Case_ID', 'LastName', 'FirstName', 'MiddleName', 'ScaleSet_ID', \n                   'ScaleSet', 'AssessmentReason', 'Language', 'LegalStatus', 'CustodyStatus', 'MaritalStatus', \n                   'Screening_Date', 'DisplayText', 'AssessmentType', 'IsCompleted', 'IsDeleted']\ndf_cleaned = df_valid_dates.drop(columns=columns_to_drop)\n"

In [185]:
# Yo no eliminaría columnas, salvo 'MiddleName' que ya se eliminó

## 9. Eliminación de registros (filas)

In [186]:
# Yo eliminaría las filas que no tienen que ver con Scale_ID = 8, es decir, Risk of Recidivism, que es lo que estamos evaluando.

df_scores_raw_recidiv = df_scores_raw[df_scores_raw['Scale_ID'] == 8]
df_scores_raw_recidiv.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet_ID,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,Male,Caucasian,1992-12-05,22,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,Male,Caucasian,1984-09-16,22,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0
7,50855,57181,51963,PRETRIAL,DAYES,DANIEL,Male,African-American,1994-08-25,22,...,4,High,8,Risk of Recidivism,0.18,8,High,New,1,0
10,50850,57176,51958,PRETRIAL,Debe,Mikerlie,Female,African-American,1994-10-09,22,...,2,Medium,8,Risk of Recidivism,-0.53,6,Medium,New,1,0
13,50839,57162,51945,PRETRIAL,McLaurin,Stephanie,Female,African-American,1985-06-29,22,...,1,Low,8,Risk of Recidivism,-1.55,2,Low,New,1,0

In [187]:
# Comprobamos valores 8 antes de la selección
df_scores_raw.Scale_ID.value_counts()

Scale_ID
18    20281
7     20272
8     20245
Name: count, dtype: int64

In [188]:
# Comprobamos valores 8 después de la selección
df_scores_raw_recidiv.Scale_ID.value_counts()

Scale_ID
8    20245
Name: count, dtype: int64

In [189]:
df_scores_raw_recidiv
check_df(df_scores_raw_recidiv, '')

1. ¿CUANTAS FILAS Y COLUMNAS hay en el conjunto de datos?
	Hay 20,245 filas y 27 columnas.


2. ¿Cuáles son las PRIMERAS DOS FILAS del conjunto de datos?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet_ID,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,Male,Caucasian,1992-12-05,22,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,Male,Caucasian,1984-09-16,22,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0

3. ¿Cuáles son las ULTIMAS DOS FILAS del conjunto de datos?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet_ID,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
60838,65667,79665,72038,Probation,West,James,Male,African-American,2064-06-21,22,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.16,8,High,New,1,0
60841,68603,79669,72042,PRETRIAL,Ryan,Michael,Male,Caucasian,1985-02-06,22,...,1,Low,8,Risk of Recidivism,-0.34,5,Medium,New,1,0

4. MUESTRA ALEATORIA de filas del conjunto de datos

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet_ID,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
38014,61899,71154,64510,PRETRIAL,ULYSSE,STANLEY,Male,African-American,1984-07-29,22,...,1,Low,8,Risk of Recidivism,-0.86,3,Low,New,1,0
38998,62191,71521,64850,PRETRIAL,Boyd,William,Male,African-American,1995-11-01,22,...,3,Medium with Override Consideration,8,Risk of Recidivism,-0.37,5,Medium,New,1,0
19963,56543,64510,58538,PRETRIAL,Gustave,Julietta,Female,Other,2070-11-04,22,...,1,Low,8,Risk of Recidivism,-2.21,1,Low,New,1,0
37381,61711,70920,64300,Probation,moore,virginia,Female,Caucasian,2056-08-23,22,...,1,Low,8,Risk of Recidivism,-1.19,3,Low,New,1,0
34669,57529,69970,59639,PRETRIAL,URREA,HELBERT,Male,Hispanic,1995-07-08,22,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.38,9,High,Copy,1,0

5. ¿Cuáles son las COLUMNAS del conjunto de datos?
	 - Person_ID
	 - AssessmentID
	 - Case_ID
	 - Agency_Text
	 - LastName
	 - FirstName
	 - Sex_Code_Text
	 - Ethnic_Code_Text
	 - DateOfBirth
	 - ScaleSet_ID
	 - ScaleSet
	 - AssessmentReason
	 - Language
	 - LegalStatus
	 - CustodyStatus
	 - MaritalStatus
	 - Screening_Date
	 - RecSupervisionLevel
	 - RecSupervisionLevelText
	 - Scale_ID
	 - DisplayText
	 - RawScore
	 - DecileScore
	 - ScoreText
	 - AssessmentType
	 - IsCompleted
	 - IsDeleted


6. ¿Cuál es el TIPO DE DATOS de cada columna?
Person_ID                           int64
AssessmentID                        int64
Case_ID                             int64
Agency_Text                        object
LastName                           object
FirstName                          object
Sex_Code_Text                      object
Ethnic_Code_Text                   object
DateOfBirth                datetime64[ns]
ScaleSet_ID                         int64
ScaleSet                           object
AssessmentReason                   object
Language                           object
LegalStatus                        object
CustodyStatus                      object
MaritalStatus                      object
Screening_Date             datetime64[ns]
RecSupervisionLevel                 int64
RecSupervisionLevelText            object
Scale_ID                            int64
DisplayText                        object
RawScore                          float64
DecileScore                         int64
ScoreText                          object
AssessmentType                     object
IsCompleted                         int64
IsDeleted                           int64
dtype: object


7. ¿Cuántas COLUMNAS hay de cada TIPO DE DATOS?
object            15
int64              9
datetime64[ns]     2
float64            1
Name: count, dtype: int64


8. INFO más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 20245 entries, 1 to 60841
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person_ID                20245 non-null  int64
 1   AssessmentID             20245 non-null  int64
 2   Case_ID                  20245 non-null  int64
 3   Agency_Text              20245 non-null  object
 4   LastName                 20245 non-null  object
 5   FirstName                20245 non-null  object
 6   Sex_Code_Text            20245 non-null  object
 7   Ethnic_Code_Text         20245 non-null  object
 8   DateOfBirth              20245 non-null  datetime64[ns]
 9   ScaleSet_ID              20245 non-null  int64
 10  ScaleSet                 20245 non-null  object
 11  AssessmentReason         20245 non-null  object
 12  Language                 20245 non-null  object
 13  LegalStatus              20245 non-null  object
 14  CustodyStatus            20245 non-null  object
 15  MaritalStatus            20245 non-null  object
 16  Screening_Date           20245 non-null  datetime64[ns]
 17  RecSupervisionLevel      20245 non-null  int64
 18  RecSupervisionLevelText  20245 non-null  object
 19  Scale_ID                 20245 non-null  int64
 20  DisplayText              20245 non-null  object
 21  RawScore                 20245 non-null  float64
 22  DecileScore              20245 non-null  int64
 23  ScoreText                20245 non-null  object
 24  AssessmentType           20245 non-null  object
 25  IsCompleted              20245 non-null  int64
 26  IsDeleted                20245 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(9), object(15)
memory usage: 4.3+ MB
None


9. ¿VALORES UNICOS POR COLUMNA?
Person_ID                  18580
AssessmentID               20245
Case_ID                    19496
Agency_Text                    4
LastName                   10883
FirstName                   7218
Sex_Code_Text                  2
Ethnic_Code_Text               7
DateOfBirth                10368
ScaleSet_ID                    2
ScaleSet                       2
AssessmentReason               1
Language                       2
LegalStatus                    7
CustodyStatus                  6
MaritalStatus                  7
Screening_Date               705
RecSupervisionLevel            4
RecSupervisionLevelText        4
Scale_ID                       1
DisplayText                    1
RawScore                     457
DecileScore                   10
ScoreText                      3
AssessmentType                 2
IsCompleted                    1
IsDeleted                      1
dtype: int64


10. ¿ESTADISTICAS DESCRIPTIVAS BASICAS DE LAS COLUMNAS NUMÉRICAS?

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet_ID,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
count,20245.0,20245.0,20245.0,20245,20245,20245,20245,20245,20245,20245.0,...,20245.0,20245,20245.0,20245,20245.0,20245.0,20245,20245,20245.0,20245.0
unique,,,,4,10883,7218,2,7,,,...,,4,,1,,,3,2,,
top,,,,PRETRIAL,Williams,Michael,Male,African-American,,,...,,Low,,Risk of Recidivism,,,Low,New,,
freq,,,,13683,139,257,15809,9010,,,...,,12794,,20245,,,11619,18679,,
mean,53679.329118,68063.999061,60211.907385,,,,,,2008-09-27 08:42:30.674240512,21.819215,...,1.630822,,8.0,,-0.770184,4.299728,,,1.0,0.0
min,656.0,649.0,350.0,,,,,,1974-01-01 00:00:00,17.0,...,1.0,,8.0,,-3.21,1.0,,,1.0,0.0
25%,52035.0,62584.0,56020.0,,,,,,1984-03-24 00:00:00,22.0,...,1.0,,8.0,,-1.38,2.0,,,1.0,0.0
50%,57323.0,68237.0,61267.0,,,,,,1990-07-14 00:00:00,22.0,...,1.0,,8.0,,-0.76,4.0,,,1.0,0.0
75%,62751.0,73875.0,66559.0,,,,,,2055-05-04 00:00:00,22.0,...,2.0,,8.0,,-0.15,7.0,,,1.0,0.0
max,68608.0,79678.0,72045.0,,,,,,2073-12-31 00:00:00,22.0,...,4.0,,8.0,,2.36,10.0,,,1.0,0.0
std,14371.910641,7322.777319,9640.294282,,,,,,,0.933427,...,0.944696,,0.0,,0.848564,2.850358,,,0.0,0.0

11. ¿VALORES NULOS EN EL DATASET?
Person_ID                  0
CustodyStatus              0
IsCompleted                0
AssessmentType             0
ScoreText                  0
DecileScore                0
RawScore                   0
DisplayText                0
Scale_ID                   0
RecSupervisionLevelText    0
RecSupervisionLevel        0
Screening_Date             0
MaritalStatus              0
LegalStatus                0
AssessmentID               0
Language                   0
AssessmentReason           0
ScaleSet                   0
ScaleSet_ID                0
DateOfBirth                0
Ethnic_Code_Text           0
Sex_Code_Text              0
FirstName                  0
LastName                   0
Agency_Text                0
Case_ID                    0
IsDeleted                  0
dtype: int64


12. PORCENTAJE DE VALORES NULOS EN CADA COLUMNA?
Person_ID                  0.0
CustodyStatus              0.0
IsCompleted                0.0
AssessmentType             0.0
ScoreText                  0.0
DecileScore                0.0
RawScore                   0.0
DisplayText                0.0
Scale_ID                   0.0
RecSupervisionLevelText    0.0
RecSupervisionLevel        0.0
Screening_Date             0.0
MaritalStatus              0.0
LegalStatus                0.0
AssessmentID               0.0
Language                   0.0
AssessmentReason           0.0
ScaleSet                   0.0
ScaleSet_ID                0.0
DateOfBirth                0.0
Ethnic_Code_Text           0.0
Sex_Code_Text              0.0
FirstName                  0.0
LastName                   0.0
Agency_Text                0.0
Case_ID                    0.0
IsDeleted                  0.0
dtype: float64

In [190]:
df_scores_raw_clean = df_scores_raw_recidiv